
.animtime {
  label {
    margin: 0px;
  }
}

.hideslide {
  all: unset;
  trough {
    min-width: 400px;
    background-color: transparent;
    slider {
      min-width: 400px;
      min-height: 10px;
      background-color: transparent;
      margin: -100px 0px;
    }
    highlight {
      background-color: transparent;
    }
  }
}

.fakehandle {
  min-width: 200px;
  min-height: 8px;
  margin: 4;
  background-color: transparent;
  transition: 500ms;
  background-color: $fg2;
  border-radius: 4px;
}

.batscale {
  all: unset;
  trough {
    margin: 29px 8px;
    min-height: 11px;
    min-width: 16px;
    background-color: transparent;
    slider {
      min-width: 0px;
      min-height: 0px;
      margin: 0px;
    }
    highlight {
      background-color: $fg;
    }
  }
}
